<template>
    <vs-navbar v-model="activeItem" class="nabarx">
      <div slot="title">
        <vs-navbar-title>
          <img src="https://cdn.wdrimg.com/assets/73a1e61c/logoNewWayDatingNewYear.png" alt="logo">
        </vs-navbar-title>
      </div>

      <vs-navbar-item index="2">
        <a href="#">Search</a>
      </vs-navbar-item>
      <vs-navbar-item index="1">
        <a href="#">Inbox</a>
      </vs-navbar-item>
      <vs-navbar-item index="0">
        <a href="#">Activity</a>
      </vs-navbar-item>
      <vs-navbar-item index="0">
        <vs-button color="success" type="filled">Success</vs-button>
      </vs-navbar-item>
    </vs-navbar>
</template>

<script>
export default {
  name: 'Navbar',
  props: {
    msg: String
  },
  data: () => ({
    activeItem: 0
  })
}
</script>
