<template>
  <div id="app">
    <Navbar/>
    <div class="con-example-images">
      <vs-images :hover="hover">
        <vs-image
          :text="item.text"
          :key="index"
          :src="`https://picsum.photos/400/400?image=2${index}`"
          v-for="(item, index) in 9">
          <slot>
            <div class="user-info">
              <div class="user-info_text">
                <span class="name">Victoria</span>,&nbsp;<span class="age">29</span></div>
              <div class="user-info_statuses"><span class="user status online"></span></div>
            </div>
          </slot>
        </vs-image>
      </vs-images>

      <div class="content-other">asd</div>
    </div>

    <router-view/>
  </div>
</template>

<script>
// @ is an alias to /src
import Navbar from '@/components/Navbar.vue'

export default {
  name: 'home',
  components: {
    Navbar
  },
  data: () => ({
    hover: 'zoom',
    hovers: [
      { text: 'Default', value: 'default' },
      { text: 'Zoom', value: 'zoom' },
      { text: 'Dark', value: 'dark' },
      { text: 'Scale', value: 'scale' },
      { text: 'Curtain', value: 'curtain' }
    ]
  })
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.content-wrapper {
  position: relative;
  flex-grow: 1;
  margin: 96px 12px 24px;
  min-width: 0;
  display: flex;
}

.con-example-images {
  max-height: 500px;
  overflow: auto;
}
.vs-image .imag-blur {
  left: 0;
}
.con-example-images {
  height: calc(100vh - 72px - 24px);
  overflow: auto;
}

</style>
